@import "tailwindcss";

@theme inline {
  /* Cores */
  --color-red: #FF383C;
  --color-red-400: #FF6164;
  --color-red-300: #FF8A8C;
  --color-red-200: #FFB2B4;
  --color-red-100: #FFDBDC;

  --color-blue: #0088FF;
  --color-blue-400: #299BFF;
  --color-blue-300: #52AEFF;
  --color-blue-200: #7AC1FF;
  --color-blue-100: #A3D4FF;

  --color-green: #6CC680;
  --color-green-400: #89D199;
  --color-green-300: #A7DDB3;
  --color-green-200: #C4E8CC;
  --color-green-100: #E2F4E6;

  --color-yellow: #FFCC00;
  --color-yellow-400: #FFD429;
  --color-yellow-300: #FFDC52;
  --color-yellow-200: #FFE47A;
  --color-yellow-100: #FFEDA3;

  --color-neutral-800: #212122;
  --color-neutral-700: #48484A;
  --color-neutral-600: #717174;
  --color-neutral-500: #9A9A9D;
  --color-neutral-400: #C3C3C5;
  --color-neutral-300: #EDEDED;
  --color-neutral-200: #F5F5F5;
  --color-neutral-100: #FFFFFF;

  /* Fonte */
  --font-sans: var(--font-inter);

  /* Escala tipográfica (size/line-height) */
  --text-h1: 40px;
  --text-h1--line-height: 42px;
  --text-h2: 34px;
  --text-h2--line-height: 38px;
  --text-h3: 30px;
  --text-h3--line-height: 36px;
  --text-h4: 24px;
  --text-h4--line-height: 32px;
  --text-h5: 20px;
  --text-h5--line-height: 28px;
  --text-p1: 14px;
  --text-p1--line-height: 20px;
  --text-p2: 16px;
  --text-p2--line-height: 22px;
  --text-label: 12px;
  --text-label--line-height: 18px;
}

body {
  background: var(--color-neutral-800);
  color: var(--color-neutral-100);
}